 *, *::before, *::after {
    box-sizing: border-box;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: Arial; /* These fonts that I have downloaded are not working!*/
    }

    <style type="text/css">
    html,
    body {
    height: 100%;
    }
    
    body {
    background-image: url(images/menu_pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    </style>
    .container {
      width: 800px;
      max-width: 80%;
      background-color: white;
      padding: 10px;
      border-radius: 20px;
      box-shadow: 0 0 10px 2px;
  }
    </head>
    <body>

    .tiledBackground {
        background-image:"style_preamble.css";
        background-size: 50px;
        width: 100px;
        height: 100px;
        border: 2px solid;
        color: pink;
      }
      
    
    /*div {
            width: 200px;
            word-break: break-all;
            white-space: normal;
        }*/

